<h4>Enter an input and then a string and the program will tell you how many times the input appears in the string</h4>
<form action="/result" method="post">
<label for="Input">Input: </label>
<input type="text" name="Input">
<label for="CheckAgainst">String: </label>
<input type="text" name="CheckAgainst">
<button type="submit" name="button">Submit</button>
</form>
